@use 'base/variables' as va;
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: $fuente_titulo;
    font-size: 1.6rem;
    line-height: 1.6;
}

p {
    color: $blanco;
    font-family: $fuente_parrafo;
    font-size: 2.2rem;
    margin: 0;
    line-height: 1.4;
}

.contenedor {
   // scroll-snap-align: start;
    width: 95%;
    //max-width: 150rem;
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem 4rem;
    background: linear-gradient(to bottom, #0000008e 10%, #00000091 50%, #0000008d 100%);
}
a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3, h4 {
    font-family: $fuente_titulo;
    margin: 0;
    text-align: center;
    color: va.$color_titulos;
}

h1 {
    font-size: 3.6rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 2.5rem;
    font-family: $fuente_titulo2;
}
h4 {
    font-size: 2rem;
    font-family: $fuente_subtitulo;
    
}

button{
    &:hover{
        cursor: pointer;
    }
}